.searchbar{
	max-width: 100rem;
	width: 100vw;
	margin: 0 auto;
	height: 5.5rem;

	input{
		border: 1px solid black;
	}

	.search-button{
		margin: 0 0.5rem;
		min-width: 168px;
		font-size: 14px;
	}
}
