.searchbar{
	max-width: 100rem;
	min-width: 20rem;
	margin: 1rem auto;
	min-height: 6rem;	
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	.logo-container {
		height: 100%;
		width: 7rem;

		img {
			width: 90%;
			object-fit: cover;
			margin: 0;
			overflow: hidden;
		}
	}

	input{
		margin: 0.5rem;
		border: 1px solid black;
		height: 3rem;
		max-width: 80rem;
	}

	.search-button{
		margin: 0.5rem;
		height: 3rem;
		min-width: 11rem;
		font-size: 14px;
	}
}
