.searchbar{
	max-width: 100rem;
	width: 100vw;
	margin: 1rem auto;
	min-height: 6rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	input{
		margin: 0.5rem;
		border: 1px solid black;
		height: 3rem;
		max-width: 80rem;
	}

	.search-button{
		margin: 0.5rem;
		height: 3rem;
		min-width: 11rem;
		font-size: 14px;
	}
}
