.navbar{
	color: black;
	padding: 0 10rem;
	height: 30px;
	border-bottom: 1px solid rgb(221, 221, 221);
	font-family: Helvetica Neue ,Helvetica,Arial,Verdana,Sans-serif;
	vertical-align: middle;

	.dropdown-menu{
		padding: 0.4rem 1rem;
	}

	.signin-signup a{
		text-decoration: none;
	}
	.signin-signup a:hover{
		text-decoration: underline;
	}

	.navbar-right{
		float: right;
		background-color: white;

		a{
			color: rgb(49, 49, 49);
			text-decoration: none;
		}
	}

	button{
		background-color: white;
		border: none;
	}
}