.navbar{
	width: 100%;
	color: black;
	padding: 0.1rem 5rem;
	height: 2.6rem;
	border-bottom: 1px solid rgb(221, 221, 221);
	font-family: Helvetica Neue ,Helvetica,Arial,Verdana,Sans-serif;
	vertical-align: middle;
	background-color: white;

	img {
		height: 3.2rem;	
	}

	.navbar-toggler-icon{
		color: black;
	}

	.dropdown-menu{
		padding: 0.4rem 1rem;
		background-color: white;
	}

	#firstName{
		font-weight: 700;
		text-transform: capitalize;
	}

	#signout{
		:hover{
			cursor: pointer;
		}
	}

	span{
		margin: 0 0.1rem;	
	}

	.signin-signup {
		display: grid;
		grid-template-rows: auto;
		grid-template-columns: auto auto auto;
		white-space: nowrap;

		a {
			text-decoration: none;
		}

		a :hover {
			text-decoration: underline;
		}
		
	}

	ul{
		padding: 0.3rem 0.7rem;
	}

	.show {
		background-color: white;
	}
	.navbar-right{
		margin-left: auto;

		a{
			color: rgb(49, 49, 49);
			text-decoration: none;
		}
	}

	button{
		background-color: white;
		border: none;
	}
}