.summary-button {
	margin: 0.35rem 0;
	width: 18.5rem;
	height: 3.3rem;
	border-radius: 0;
	font-weight: 800;
	font-size: 1.2rem;
	
}

.primary{
	background-color: #0053a0;
	color: white;
}

.info{
	background-color: #3498ca;
	color: white;
}

.outline-primary{
	border: 1px solid #0053a0;
	color: #3a85cc;
	font-weight: 500;
}

