.basket-item {

	a{
		color: rgb(24, 24, 24);
		text-decoration: underline;
	}

	border: 1px solid #ccc;
	height: 20rem;

	.header{
		text-align: left;

		#seller-name{
			margin-left: 0.2rem;
			text-decoration: underline;
		}
	}

	.summary {
		display: grid;
		grid-template-columns: 1fr 3fr 1fr 1fr;
	}

	#image{
		object-fit: cover;
		width: 10rem;
		height: 10rem;
	}

	#remove{
		float: right;
		border: 0;
		padding: 0.5rem;
	}
}